<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="fb:admins" content="624156314" />

  <title>We're having new age fun with a vintage feel!</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">


  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="/css/style.css?v=2">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="/css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/js/libs/modernizr-1.7.min.js"></script>

</head>

<body lang="en">

  <div id="container">
    <div class="about">About!</div>
    
    <div class="front" id="main" role="main">
      <div class="shares">
	<iframe
    src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhipstervision.org&amp;layout=box_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=65"
    scrolling="no" frameborder="0" style="border:none;
    overflow:hidden; width:100px; height:65px;"
    allowTransparency="true"></iframe>

      <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="swizec">Tweet</a>
    </div>

      <header>
        <a href="/">We're having new age fun with a vintage feel!</a>
      </header>
      <div>
	<% if (special_image) { %>
	  <script>$(document).ready(function () { mpmetrics.track('From share')});</script>
	  <div id="special">
	    <h2>Your friend found this looking for <a href="/?search=<%= search_query %>">
		<%= search_query %></a>!</h2>
            <div id="image-special" class="image">
	       <div class="front">
		 <img src="<%= special_image.images.standard_resolution.url %>" />
		 <label class="likes">
		    ♥ <span class="num"><%= special_image.likes.count %></span>
		    <a href="http://twitter.com/share"
	  class="twitter-share-button"
	  data-url="http://hipstervision.org/pic/<%= special_image.id %>"
	  data-text="Found a cool pic on hipstervision :D"
	  data-count="none" data-via="swizec">Tweet</a>
		   <fb:like href="http://hipstervision.org/pic/<%= special_image.id %>"
		      layout="button_count" show_faces="false" width="100"></fb:like>
		 </label>
		 <label class="caption">
		   <strong><%= special_image.user.username %></strong>
		   <br />
		   <%= (special_image.caption) ? special_image.caption.text : '' %>
		 </label>
	       </div>
	       <div class="back">
	       </div>
	    </div>
	  </div>
	<% } %>
        <form action="" type="GET" id="search">
	  <% if (special_image) { %>
          <label>Try a search: </label>
	  <% }else{ %>
   	  <label>Vintage feel in: </label>
	  <% } %>
          <input type="text" name="search" placeholder="Enter a place, like San Francisco" />
	  <p id="tips">Enter a location and find pretty pics about it (that hipsters took with instagram)!<br />To search for words use a hashbang, like <strong>#snow</strong></p>
          <input type="submit" value="Search ironically!" />
          <small class="tags"></small>
	  <a href="http://hipstervision.org/?search=!popular" class="popular explain" style="">These pics were popular before anyone liked them ;)</a>
       </form>

	<% if (special_image) { %>
	<div id="frontpageresult"  style="display: none">
	<% }else{ %>
	<div id="frontpageresult">
	<% } %>
	  <h2>Last dude searched for <em><%= search_query %></em> and got:</h2>
	  <% for (var i=0; i<images.length; i++) : %>
	     <div id="image-<%= i %>" class="image">
	       <div class="front">
		 <img src="<%= images[i].images.low_resolution.url %>" />
		 <label class="likes">
		    ♥ <span class="num"><%= images[i].likes.count %></span>
		    <a href="http://twitter.com/share"
	  class="twitter-share-button"
	  data-url="http://hipstervision.org/pic/<%= images[i].id %>"
	  data-text="Found a cool pic on hipstervision :D"
	  data-count="none" data-via="swizec">Tweet</a>
		   <fb:like href="http://hipstervision.org/pic/<%= images[i].id %>"
		      layout="button_count" show_faces="false" width="100"></fb:like>
		 </label>
		 <label class="caption">
		   <strong><%= images[i].user.username %></strong>
		   <br />
		   <%= (images[i].caption) ? images[i].caption.text : '' %>
		 </label>
	       </div>
	       <div class="back">
	       </div>
	     </div>
	  <% endfor; %>
	</div>

        <div id="display"></div>
	<div id="more"><img src="/images/loader.gif" /></div>
        <div id="error"></div>

        <div id="proto-image" class="image hidden">
	  <div class="front">
	    <img src="" />
	    <label class="likes">
	       ♥ <span class="num"></span>
	       
	       <fb:like href="" class="fblike"
		      layout="button_count" show_faces="false" width="100"></fb:like>
	    </label>
	    <label class="caption"></label>
	    <label class="caption">
  	       <strong></strong><time datetime="" class="timeago"></time>
	    </label>
	  </div>
	  <div class="back">
	    
	  </div>
  	</div>
      </div>
      <footer>
      </footer>
    </div>
    <div class="back" id="about">
      <div class="freelance">
	<h2>HEY!</h2>
	<p>I'm looking for freelance JavaScript (node.js, jquery,
	etc.) jobs!</p><p><a href="mailto:swizec@swizec.com">Contact me!</a></p>
      </div>
      
      <header>
      About HipsterVision.org
      </header>     
     <article> 
      <p>HipsterVision.org is mostly the result of a sleepless February
    night about <time datetime="2011-03-02T4:06Z"></time>. The
    Instagram API had just come out a few days earlier and I knew I
    wanted to make something with it.</p>

      <p>The first idea that came to mind, obviously, was to make fun of
    hipsters. And since the API was real-time, I wanted to make
    something realtimey ... but that didn't quite work out because the
    API for that was still a bit weird.</p>

      <p>At some point during an elevator ride I had an idea to make a
    geo-based image search with the basic notion of "Find out what
    hipsters are doing in X".</p>

      <p>A night of coding later -> everything pretty much worked.</p>

      <h2>The tech</h2>

      <p>The search translates any query into a geocode with the Google
    Maps API, then passes that to a node.js server, which talks to
    instagram and returns a result.</p>

      <p>Because of this project I started an opensource Instagram
    library for node.js called <a href="https://github.com/Swizec/nodestagram">Nodestagram</a>. I
    would be very happy to get some help developing that ;)</p>

      <h2>Author</h2>

      <p>Well I'm just a hacker guy who goes by the name of Swizec. You
    can find me on many social networks around the interwebs, yes,
    even on Instagram.</p>

      <p>Some of the more important links about me:</p>
      <ul>
	<li><a href="http://swizec.com">Blog</a></li>
	<li><a href="https://github.com/Swizec">Github</a></li>
	<li><a href="http://twitter.com">Twitter</a></li>
      </ul>

      <p>You can also drop me a line on <a href="mailto:swizec@swizec.com">my
    wonderful email</a>; happy to hear any feedback :)</p>
    </article>
    </div>

  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.5.1.js"%3E%3C/script%3E'))</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="/js/plugins.js"></script>
  <script src="/js/jquery.timeago.js"></script>
  <script src="/js/script.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type='text/javascript'> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> <script type='text/javascript'> try {  var mpmetrics = new MixpanelLib('fdab1c44fc9a6d367f146293680838e2'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <div id="fb-root"></div>

  <!-- end scripts-->


  <!--[if lt IE 7 ]>
    <script src="/js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1464315-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
